.card {
  border-radius: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img {
  border-radius: 10px;
}

/* Background:   Slate 300: hsl(212, 45%, 89%) */
/* Text:         Slate 500: hsl(216, 15%, 48%) */
/* Title:        Slate 900: hsl(218, 44%, 22%) */

.card-title {
  font-family: 'Outfit', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  text-align: center;
}

.card-text {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: hsl(216, 15%, 48%);
  text-align: center;
}