body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* ป้องกันการเลื่อนแนวนอน */
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: hsl(212, 45%, 89%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  /* margin-top: auto; */
}
.attribution a {
  color: hsl(228, 45%, 44%);
}